.app-lightmode {
  display: flex;
  flex-direction: row;

  // .app-home-intro {
  //   width: 600px;
  //   height: 600px;
  //   background-color: whitesmoke;
  //   box-shadow: 0px 9px 21px 7px rgba(139, 114, 190, 0.57);
  //   -webkit-box-shadow: 0px 9px 21px 7px rgba(139, 114, 190, 0.57);
  //   -moz-box-shadow: 0px 9px 21px 7px rgba(139, 114, 190, 0.57);
  // }

  .app-homepage-socialIcons {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #8b72be;
  }
}
.app-darkmode {
  display: flex;
  flex-direction: row;
  // background: url("./assets/bg1.jpg");
  // background-position: center;
  // background-size: cover;
  // background-repeat: repeat;
  // background-attachment: fixed;

  h1 {
    color: white;
  }
  h2 {
    color: white;
  }
  .app-homepage-socialIcons-container {
    display: flex;
    justify-content: space-between;

    h3 {
      // display: inline-block;
      // vertical-align: middle;
      // letter-spacing: 5px;
      // padding: 0 -5px;

      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      color: goldenrod;
      height: 200px;
    }
    .socialIcons {
      // display: inline-block;
      // vertical-align: middle;
      margin: 20px 0;
      display: flex;
      // align-items: center;
      // flex-direction: column;
      color: goldenrod;
    }
  }

  .app-homepage-socialIcons:hover {
    color: goldenrod;
  }
}
