.section-padding {
  padding: 2rem 6rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}
.app-dark-background {
  display: flex;
  flex-direction: row;
  background: #1a1d24;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}
